<header>
  <h3>Wikinimous</h3>
  <p id="new-article"><%= link_to 'New article', new_article_path %></p>
</header>
<div class="content">
  <h1>New article</h1>
  <%= render 'form' %>
  <p><%= link_to "Back", article_path %></p>
</div>
